# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import os

import pandas as pd
from sqlalchemy import create_engine

pd.set_option('display.max_colwidth', 200)

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head(3)

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head(3)

,id,categories
0,2,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...
1,7,related-1;request-0;offer-0;aid_related-1;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...
2,8,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...

In [4]:
# Check the unique values of id in two dataframes
(messages.id.unique() == categories.id.unique()).all()

True

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [5]:
# merge datasets
df = messages.merge(categories, how='inner', on='id')
df.head(3)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;ref...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [6]:
df.categories[0]

'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'

In [7]:
# create a dataframe of the 36 individual category columns
cats_ind = df.categories.str.split(';', expand=True)
cats_ind.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [8]:
# select the first row of the categories dataframe
row = cats_ind.iloc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing

# cols = row.apply(lambda x: x[:-2]).tolist()
# print(cols)

category_colnames = [name.split('-')[0] for name in row]
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [9]:
# rename the columns of `categories`
cats_ind.columns = category_colnames
cats_ind.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [10]:
for column in cats_ind:
    # set each value to be the last character of the string
    cats_ind[column] = cats_ind[column].str[-1]
    
    # convert column from string to numeric
    cats_ind[column] = cats_ind[column].astype('int')
cats_ind.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [11]:
# drop the original categories column from `df`
df.drop(['categories'], axis=1, inplace = True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct

In [12]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, cats_ind], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [13]:
# check number of duplicates
df.duplicated().sum()

170

In [14]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [15]:
# check number of duplicates
df.duplicated().sum()

0

In [17]:
import re
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

def tokenize(text):
    '''
    Function to tokenize the text data
    
    Args:
        text: a string
        
    Returns:
        words: a list of tokenized words
    '''

    # Replace all urls
    url_regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    urls = re.findall(url_regex, text)
    for url in urls:
        text.replace(url, 'urlplaceholder')
    
    # Normalize the text
    pattern = r'[^a-zA-Z0-9]'
    text = re.sub(pattern, ' ', text.lower())
    
    # Tokenize the text
    tokens = word_tokenize(text)
    
    # Lemmatize the tokens
    lemmatizer = WordNetLemmatizer()
    lemmed = [lemmatizer.lemmatize(w).strip() for w in tokens]

    # Remove stop words    
    words = [w for w in lemmed if w not in stopwords.words('english')]
    
    return words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chziha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chziha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\chziha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [20]:
words_tot = []

for _, row in df.iterrows():
    words = tokenize(row['message'])
    words_tot.extend(words)
    
words_tot

['weather',
 'update',
 'cold',
 'front',
 'cuba',
 'could',
 'pas',
 'haiti',
 'hurricane',
 'looking',
 'someone',
 'name',
 'un',
 'report',
 'leogane',
 '80',
 '90',
 'destroyed',
 'hospital',
 'st',
 'croix',
 'functioning',
 'need',
 'supply',
 'desperately',
 'say',
 'west',
 'side',
 'haiti',
 'rest',
 'country',
 'today',
 'tonight',
 'information',
 'national',
 'palace',
 'storm',
 'sacred',
 'heart',
 'jesus',
 'please',
 'need',
 'tent',
 'water',
 'silo',
 'thank',
 'would',
 'like',
 'receive',
 'message',
 'thank',
 'croix',
 'de',
 'bouquet',
 'health',
 'issue',
 'worker',
 'santo',
 '15',
 'area',
 'croix',
 'de',
 'bouquet',
 'nothing',
 'eat',
 'water',
 'starving',
 'thirsty',
 'petionville',
 'need',
 'information',
 'regarding',
 '4636',
 'thomassin',
 'number',
 '32',
 'area',
 'named',
 'pyron',
 'would',
 'like',
 'water',
 'thank',
 'god',
 'fine',
 'desperately',
 'need',
 'water',
 'thanks',
 'let',
 'together',
 'need',
 'food',
 'delma',
 '75',
 'didine',
 'area',
 'information',
 '4636',
 'number',
 'order',
 'participate',
 'see',
 'use',
 'comitee',
 'delmas',
 '19',
 'rue',
 'street',
 'janvier',
 'impasse',
 'charite',
 '2',
 '500',
 'people',
 'temporary',
 'shelter',
 'dire',
 'need',
 'water',
 'food',
 'medication',
 'tent',
 'clothes',
 'please',
 'stop',
 'see',
 'u',
 'need',
 'food',
 'water',
 'klecin',
 '12',
 'dying',
 'hunger',
 'impasse',
 'chretien',
 'klecin',
 '12',
 'extended',
 'extension',
 'hungry',
 'sick',
 'going',
 'call',
 'want',
 'call',
 'ou',
 'let',
 'know',
 'understand',
 'use',
 'thing',
 '4636',
 'would',
 'like',
 'know',
 'earthquake',
 'thanks',
 'would',
 'like',
 'know',
 'one',
 'radio',
 'ginen',
 'journalist',
 'died',
 'laplaine',
 'victim',
 'lack',
 'water',
 'moleya',
 'please',
 'informed',
 'people',
 'live',
 'sibert',
 'need',
 'food',
 'hungry',
 'want',
 'say',
 'hello',
 'message',
 'let',
 'know',
 'area',
 'faustin',
 'anhy',
 'street',
 'ha',
 'nothing',
 'neither',
 'food',
 'water',
 'medicine',
 'tell',
 'service',
 'people',
 'delma',
 '2',
 'anything',
 'ever',
 'please',
 'provide',
 'u',
 'food',
 'water',
 'medicine',
 'gressier',
 'need',
 'assistance',
 'right',
 'away',
 'asap',
 'come',
 'help',
 'u',
 'get',
 'water',
 'food',
 'fontamara',
 '43',
 'cite',
 'tinante',
 'need',
 'help',
 'carrefour',
 'ha',
 'forgotten',
 'completely',
 'foul',
 'odor',
 'killing',
 'u',
 'letting',
 'know',
 'thanks',
 'good',
 'evening',
 'radio',
 'one',
 'please',
 'would',
 'like',
 'information',
 'tiyous',
 'lot',
 'problem',
 'delma',
 '75',
 'avenue',
 'albert',
 'jode',
 'people',
 'need',
 'water',
 'food',
 'find',
 'person',
 'needed',
 'send',
 'pant',
 'phone',
 'people',
 'sleeping',
 'outdoors',
 'field',
 'near',
 'lilavois',
 'since',
 '12',
 'jan',
 'coords',
 'lilavois',
 'apparently',
 'near',
 'pap',
 'want',
 'know',
 'carrefour',
 'need',
 'help',
 'starving',
 'death',
 'find',
 'food',
 'water',
 'people',
 'many',
 'differents',
 'need',
 'also',
 'medicine',
 'fontamara',
 '43',
 'cite',
 'tinante',
 'delmas',
 '33',
 'silo',
 'need',
 'water',
 'would',
 'like',
 'get',
 'help',
 'cote',
 'plage',
 'carrefour',
 'leoganes',
 'get',
 'food',
 'please',
 'comite',
 'miracle',
 'area',
 'alerte',
 'rue',
 'monseigneur',
 'guilloux',
 'street',
 'alerte',
 'cross',
 'street',
 'mgr',
 'guilloux',
 'would',
 'like',
 'urgently',
 'receive',
 'food',
 'water',
 'tent',
 'people',
 'area',
 'thanks',
 'people',
 'dal',
 'blocked',
 'since',
 'wednesday',
 'carrefour',
 'water',
 'shortage',
 'food',
 'medical',
 'assistance',
 'jacmel',
 'working',
 'people',
 'dying',
 'hunger',
 'one',
 'everybody',
 'dead',
 'talk',
 'petit',
 'goave',
 'please',
 'look',
 'petit',
 'goave',
 'good',
 'evening',
 'earthquake',
 'end',
 'people',
 'fontamara',
 '27',
 'impass',
 'area',
 'pierre',
 'louis',
 'lot',
 'difficulty',
 'please',
 'help',
 'asap',
 'good',
 'evening',
 'congratulate',
 'good',
 'work',
 'strenght',
 'listening',
 'matisan',
 '1',
 'water',
 'food',
 'shortage',
 'god',
 'provided',
 'grace',
 'upon',
 'u',
 'find',
 'aid',
 'food',
 'fontamara',
 'carrefour',
 'listening',
 'radio',
 'jacmel',
 'need',
 'help',
 'remove',
 'dead',
 'body',
 'colege',
 'la',
 'trinite',
 'universite',
 'body',
 'professor',
 'student',
 'people',
 'jacmel',
 'requesting',
 'tractor',
 'area',
 'civil',
 'unrest',
 'social',
 'disturbance',
 'area',
 'im',
 'asking',
 'general',
 'prayer',
 'country',
 'haiti',
 'kf',
 'marotiere',
 '85',
 'food',
 'water',
 'shortage',
 'please',
 'send',
 'food',
 'u',
 'listening',
 'miraguan',
 'asking',
 'government',
 'take',
 'change',
 'one',
 'gallon',
 'gas',
 '80',
 'would',
 'like',
 'know',
 'arab',
 'listening',
 'radio',
 'wa',
 'jacmel',
 'asking',
 'help',
 'remove',
 'dead',
 'body',
 'la',
 'trinite',
 'college',
 'situated',
 'university',
 'inasmo',
 'dead',
 'body',
 'student',
 'teacher',
 'transfert',
 'house',
 'doe',
 'someone',
 'abroad',
 'ha',
 'go',
 'send',
 'money',
 'haiti',
 'information',
 'people',
 'found',
 'rubble',
 'school',
 'trinite',
 'l',
 'ecole',
 'sainte',
 'trinite',
 'jacmel',
 'cooky',
 'brought',
 'colombian',
 'dog',
 'keeping',
 'alive',
 'get',
 'help',
 'jacmel',
 'find',
 'help',
 'food',
 'fontamara',
 '43',
 'rue',
 'menos',
 'please',
 'provide',
 'police',
 'officer',
 'street',
 'insecure',
 'mother',
 'ha',
 'water',
 'let',
 'u',
 'know',
 'location',
 'provided',
 'people',
 'needing',
 'water',
 'baby',
 'location',
 'beach',
 '24',
 'help',
 'needed',
 'fond',
 'parisien',
 'idea',
 'haitian',
 'tell',
 'asking',
 'water',
 'medical',
 'supply',
 'food',
 'home',
 'gressier',
 'ha',
 'almost',
 'collapsed',
 'would',
 'like',
 'distroy',
 'collapse',
 'completly',
 'would',
 'like',
 'know',
 'food',
 'water',
 'distributed',
 'location',
 'provided',
 'happy',
 'hear',
 'god',
 'religious',
 'hyme',
 'seven',
 'house',
 'located',
 'betwenn',
 'musso',
 'juvenat',
 'dyobel',
 'dyobal',
 'sure',
 'rest',
 'information',
 'clear',
 'pastor',
 'interpreter',
 'seeking',
 'help',
 'response',
 'team',
 'problem',
 'paco',
 'lazon',
 'general',
 'police',
 'department',
 'want',
 'know',
 'almost',
 'food',
 'water',
 'sainte',
 'bernadette',
 '2',
 'area',
 'received',
 'anything',
 'buying',
 'water',
 'warm',
 '5',
 'gourde',
 'would',
 'like',
 'communicate',
 'family',
 'minute',
 'cell',
 'phone',
 'please',
 'help',
 'people',
 'sleeping',
 'outside',
 'field',
 'lilavois',
 '50',
 'dying',
 'hunger',
 'since',
 'january',
 '12th',
 'friend',
 'dont',
 'know',
 'going',
 'hear',
 'going',
 'hear',
 'news',
 'hear',
 'happen',
 'carrefour',
 'petion',
 'ville',
 'asking',
 'help',
 'valley',
 'especially',
 'santo',
 'sath',
 'b',
 'driver',
 'mechanic',
 'want',
 'help',
 'lot',
 'news',
 'even',
 'found',
 'body',
 'could',
 'least',
 'know',
 'dead',
 'hospital',
 'need',
 'checked',
 'registry',
 'book',
 'also',
 'please',
 'help',
 'u',
 'seems',
 'end',
 'another',
 'message',
 'big',
 'problem',
 'jacmel',
 'left',
 'port',
 'au',
 'prince',
 'without',
 'food',
 'clothes',
 'money',
 'really',
 'critical',
 'situation',
 'would',
 'like',
 'receive',
 'help',
 'section',
 'communale',
 'lot',
 'violence',
 'would',
 'like',
 'know',
 'food',
 'distributed',
 'play',
 'carnaval',
 'anbasad',
 'camp',
 'think',
 'simple',
 'comment',
 'creole',
 'rap',
 'group',
 'anbasad',
 'camp',
 'doe',
 'refer',
 'location',
 'read',
 'cry',
 'help',
 'tk',
 'cold',
 'front',
 'found',
 'cuba',
 'morning',
 'could',
 'cross',
 'haiti',
 'tomorrow',
 'isolated',
 'rain',
 'shower',
 'expected',
 'region',
 'tonight',
 'ples',
 'give',
 'u',
 'cell',
 'card',
 'cell',
 'phone',
 'minuts',
 'find',
 'cell',
 'phone',
 'card',
 'buy',
 'whoever',
 'see',
 'street',
 'wa',
 'wearing',
 'white',
 'denim',
 'skirt',
 'printed',
 'black',
 'shirt',
 'hair',
 'cornrow',
 'please',
 'need',
 'help',
 'food',
 'toiletry',
 'weather',
 'forcast',
 'cold',
 'front',
 'cuba',
 'could',
 'pas',
 'haiti',
 'night',
 'food',
 'water',
 'mediacation',
 'dont',
 'tent',
 'protect',
 'self',
 'using',
 'cistern',
 'lovation',
 'provided',
 'good',
 'people',
 'help',
 'u',
 'god',
 'bless',
 'u',
 'adjs',
 'group',
 'house',
 'jacmel',
 'talking',
 'people',
 'southeast',
 'lot',
 'victim',
 'people',
 'suffering',
 'especially',
 'jacmel',
 'something',
 'entire',
 'house',
 'collapsing',
 'road',
 'sot',
 'pop',
 'jacmel',
 'cut',
 'request',
 'aid',
 'service',
 'forget',
 'south',
 'east',
 'region',
 'lot',
 'victim',
 'people',
 'suffering',
 'number',
 'given',
 'people',
 'fort',
 'mercredi',
 'find',
 'food',
 'water',
 'im',
 'taking',
 'guess',
 'sorry',
 'mix',
 'creole',
 'french',
 'sm',
 'message',
 'understand',
 'close',
 'mounn',
 'fort',
 'mercredi',
 'food',
 'water',
 'running',
 'low',
 'problem',
 'people',
 'hurt',
 'please',
 'help',
 'u',
 'fort',
 'mercredi',
 'wednesday',
 'find',
 'tent',
 'treated',
 'water',
 'next',
 'fort',
 'mercredi',
 'would',
 'like',
 'food',
 'water',
 'please',
 'wounded',
 'saint',
 'michely',
 'hospital',
 'medicine',
 'look',
 'like',
 'part',
 'message',
 'got',
 'cut',
 '500',
 'people',
 'martissant',
 '23',
 'village',
 'dante',
 'god',
 'bless',
 'digicel',
 'let',
 'go',
 'emergency',
 'find',
 'capital',
 'bank',
 'please',
 'plaine',
 'du',
 'cul',
 'de',
 'sac',
 'nearest',
 'food',
 'distribution',
 'listening',
 'radio',
 'dabon',
 'need',
 'help',
 'doctor',
 'area',
 'unable',
 'move',
 'around',
 'gas',
 'dabon',
 'located',
 'close',
 'leogane',
 'message',
 'might',
 'saying',
 'stuck',
 'presidential',
 'palace',
 'pal',
 'since',
 'tuesday',
 'quake',
 'need',
 'water',
 'message',
 'say',
 'finding',
 'little',
 'water',
 'name',
 'number',
 'people',
 'given',
 'live',
 'la',
 'plaine',
 'wife',
 'pregnant',
 'got',
 'injured',
 'falling',
 'block',
 'walk',
 'found',
 'anyone',
 'help',
 'u',
 'area',
 'called',
 'moya',
 'imcomprehensibley',
 '9',
 'member',
 'wa',
 'repatriated',
 'incomprehensible',
 'location',
 'duvivier',
 'fond',
 'grango',
 'urgent',
 'action',
 'needed',
 'follow',
 'previous',
 'sm',
 'regard',
 'possible',
 'delivery',
 'possible',
 'deliver',
 'baby',
 'country',
 'doe',
 'matter',
 'please',
 'add',
 'airtime',
 'phone',
 'thanks',
 'dire',
 'need',
 'food',
 'water',
 'temporary',
 'shelter',
 'need',
 'know',
 'get',
 ...]

In [22]:
len(words_tot)

385930

In [29]:
word_list, count_list = [], []
for word in set(words_tot):
    word_list.append(word)
    count_list.append(words_tot.count(word))

In [48]:
counts_dict = {'word': word_list, 'counts': count_list}
df2 = pd.DataFrame(counts_dict).sort_values(by='counts', axis=0, ascending=False, inplace=False)
df2.head()

         word  counts
26231   water    3040
6995   people    3014
8511     food    2904
30725    help    2653
8971     need    2496

In [54]:
df2 = pd.DataFrame({'word': word_list, 'counts': count_list}).sort_values(by='counts', axis=0, ascending=False, inplace=False)
x = df2.iloc[0:25]['word'].tolist()
x = df2.iloc[0:25]['counts'].tolist()

         word  counts
26231   water    3040
6995   people    3014
8511     food    2904
30725    help    2653
8971     need    2496

In [62]:
x = df2.iloc[0:25]['word'].tolist()
x

['water',
 'people',
 'food',
 'help',
 'need',
 'ha',
 'please',
 'earthquake',
 'u',
 'area',
 'wa',
 'like',
 'would',
 'said',
 'http',
 '000',
 'country',
 'know',
 'also',
 'government',
 'haiti',
 'one',
 'rain',
 'flood',
 'information']

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.